header {
  color: blue;
}

.button {
  display: inline-flex;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  background-color: gray;
}

.button-success {
  @extend .button;
  background-color: green;
}

%button {
  display: inline-flex;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  background-color: gray;
}

.button-success {
  @extend %button;
  background-color: green;
}

.section {
  @include bordered(tomato);
  padding: 20px;
}

.header {
  @include bordered(green);
  min-height: 80px;
}

.example {
  color: red;
}
